<div class="container block">
  <div *ngIf="!director" class="alert alert-danger" role="alert" i18n>
    No se ha encontrado el director
  </div>
  <div class="row" *ngIf="director">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" class="c-azul-oscuro" tabindex="0" i18n>Inicio</a></li>
          <li class="breadcrumb-item"><a href="/directores" class="c-azul-oscuro" tabindex="0" i18n>Directores</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ director.name }}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row" *ngIf="director">
    <div class="col-md-4">
      <h1 class="name">{{ director.name }}</h1>
    </div>
  </div>
  <div class="row" *ngIf="director">
    <div class="col-md-4">
      <img class="photo img-fluid" [src]="director.photo" [alt]="director.name">
    </div>
    <div class="col-md-8">
      <h3 class="nationality" i18n>Nacionalidad: <p>{{ director.nationality }}</p>
      </h3>
      <h3 class="birthdate" i18n>Fecha de nacimiento: <p>{{ director.formattedBirthDate }}</p>
      </h3>
      <h3 i18n>Biografía: </h3>
      <p class="biography">{{ director.biography }}</p>
    </div>
  </div>
</div>