<div class="mt-4">
  <h2 i18n >Asociar Pelicula a Plataforma</h2>
  <form
    [formGroup]="plataformaForm"
    (ngSubmit)="!plataformaForm.invalid && asociarPlataformaPelicula(plataformaForm.value.plataforma, plataformaForm.value.pelicula)"
  >
    <div class="form-group mb-2">
      <label i18n for="plataforma">Plataforma</label>
      <input
        novalidate
        id="plataforma"
        data-test-id="inputsPlataforma"
        class="form-control"
        formControlName="plataforma"
        placeholder="Plataforma/Platform"
      />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
             plataformaForm.get('plataforma')!.hasError('required') &&
             plataformaForm.get('plataforma')!.touched
           ">
        Se requiere plataforma
      </div>
      
    </div>
    <div class="form-group mb-2">
      <label i18n  for="pelicula">Pelicula</label>
      <input
        novalidate
        id="pelicula"
        data-test-id="inputsPelicula"
        class="form-control"
        formControlName="pelicula"
        placeholder="Pelicula/Movie"
      />
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="
             plataformaForm.get('pelicula')!.hasError('required') &&
             plataformaForm.get('pelicula')!.touched
           ">
        Se requiere película
      </div>
      
      
    </div>
    <button i18n
     type="submit"
     data-test-id="asociarPlataformaPelicula"
     class="btn btn-primary"
     [disabled]="!plataformaForm.valid"
   >
     Asociar
   </button>

  </form>
 </div>