<div class="container">
  <div class="row">
      <div class="col-md-4">
          <h1 id="actor-name">{{ actorDetail.name }}</h1>
          <img id="actor-photo" [src]="actorDetail.photo" [alt]="actorDetail.name">
      </div>
      <div class="col-md-8">
          <h3>Nacionalidad: <p id="actor-nationality">{{ actorDetail.nationality }}</p></h3>
          <h3>Fecha de nacimiento: <p  id="actor-birthdate">{{ actorDetail.formattedBirthDate }}</p></h3>
          <h3>Biografía: </h3>
          <p id="actor-biography">{{ actorDetail.biography }}</p>
      </div>
  </div>
</div>